.container {
    display: grid;
    grid-template-columns: 20% 40% 20%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container2 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container3 {
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container4 {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container5 {
    display: grid;
    grid-template-columns: 21% 21% 21%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container6 {
    display: grid;
    grid-template-columns: 20% 40%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    
}

.container7 {
    display: grid;
    grid-template-columns: 15% 15% 15% 30% 15%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.container8 {
    display: grid;
    grid-template-columns: 30% 15% 15% 30%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.container9 {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.container10 {
    display: grid;
    grid-template-columns: 20%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
}