.container {
    display: grid;
    grid-template-columns: 20% 40% 20%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container2 {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 550px));
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.container3 {
    display: grid;
    grid-template-columns: repeat(4, 21%);
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.container4 {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container5 {
    display: grid;
    grid-template-columns: repeat(3, 21%);
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container6 {
    display: grid;
    grid-template-columns: 20% 40%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    
}

.container7 {
    display: grid;
    grid-template-columns: 15% 15% 15% 30% 15%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.container8 {
        margin: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.flexitem1 {
    padding: 10px;
    grid-column-start: span 2;
}

.container9 {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.container10 {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
    ;
}