.container {
    display: grid;
    grid-template-columns: 22% 50% 22%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container2 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.container3 {
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}